.card-section {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5px;
  max-height: 60px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  background-color: #0070cc;
}
.card {
  /* border: 1px solid red; */
  display: inline-flex;
  padding: 10px;
}
.card ion-icon {
  font-size: 1em;
  position: absolute;
  padding: 0px 10px;
}
.card .title {
  font-weight: 400;
  color: #fff !important;
  text-decoration: none;
}
